body
{
	background: #333;
}
h1
{
	text-align: center;
	color: white;
}h2
{
	text-align: center;
	color: white;
}
h3
{
	height: 30px;
}

.views-field-field-cover-image .field-content img
{
	height: 149px;
	width: 116px;
}
.revistas
{
	margin: 0px auto;
	width: 800px;

}
.edicion
{
	
	float: left;
	width: 200px;
	height: 230px;
	text-align: center;
	color: gray;
	
}
.edicion h3 a
{
	text-decoration: none;
	font-size: 16px;
	
	color: white;

}
#header
{
	text-align: center;
}
#header img
{
	transform: rotate(-10deg);

}