@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body
{
	background: #333;
	font-family: "Open Sans";
	font-size: 16px;
}
h1
{
	text-align: center;
	color: white;
}h2
{
	text-align: center;
	color: white;
	padding-top: 15px;
}
h3
{
	height: 30px;
}

.views-field-field-cover-image .field-content img
{
	height: 149px;
	width: 116px;
}
.revistas
{
	margin: 0px auto;
	width: 800px;

}
.edicion
{
	
	float: left;
	width: 200px;
	height: 230px;
	text-align: center;
	color: gray;
	
}
.edicion h3 a
{
	text-decoration: none;
	font-size: 16px;
	
	color: white;

}
#banner
{
	text-align: center;
}
#banner h2
{
	width: 200px;
	position: absolute;
	display: inline-block;
}
#banner #flecha 
{

	padding-bottom: 75px;
	position: relative;
	z-index: 3;

}
#banner #nueva
{
	position: relative;
	padding-bottom: 200px;
	right: -10px;
	z-index: 2;
}
#banner #portada
{
	transform: rotate(-10deg);
	z-index: 1;
}