body
{
	background: #333;
}
h1
{
	text-align: center;
	color: white;
}h2
{
	text-align: center;
	color: white;
	padding-top: 15px;
}
h3
{
	height: 30px;
}

.views-field-field-cover-image .field-content img
{
	height: 149px;
	width: 116px;
}
.revistas
{
	margin: 0px auto;
	width: 800px;

}
.edicion
{
	
	float: left;
	width: 200px;
	height: 230px;
	text-align: center;
	color: gray;
	
}
.edicion h3 a
{
	text-decoration: none;
	font-size: 16px;
	
	color: white;

}
#banner
{
	text-align: center;
}
#banner #flecha
{
	left: -10px;
	padding-bottom: 130px;
	position: relative;
	z-index: 3;
}
#banner #nueva
{
	position: relative;
	padding-bottom: 200px;
	right: -10px;
	z-index: 2;
}
#banner #portada
{
	transform: rotate(-10deg);
	z-index: 1;
}